body {
	font-family: Tahoma;
	color: #ff0000;
	background-color: #ff0000; /*red */
}

span.error {
	color: #ff0000;
}

div.content {
	margin: auto;
	width: 800px;
	}

div.heading{
	color: #ff0000;
	text-align: center;
	background-color: #ffff00; /* red */
	padding: 10px;
	}
	
div.photo{
	padding-right: 10px;
	float: left;
}

div.main{
	/*prevent image from overflowing */
	overflow:auto;
	padding: 20px;
	background-color: #ff0000;
}

div.warning{
	background-color: #ff0000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


img.header
{
	border: 0px;
	margin: auto;
	text-align: center;

}

div.navigation
{
	background-color: #ff0000;
	color: #ff0000;
	padding: 10px;
	margin: auto;
	text-align: center;
}

div.footer
{
background-color: #ff0000;
color: #ff0000;
text-align: right;
padding: 10px;
}

h1 {
	color: #ff0000;
}

h1.white
{
	color: #ff0000;
}


/* Normal Links */

a {font-weight: bold;}
  a:link {color: #ff0000;} /* dark blue */
  a:visited {color: #ff0000;} /* grey */
  a:hover  {color: #ff0000;} /* teal */
  a:active { color: #ff0000;} /* dark blue */
	  
/* Navigation Links */
a.nav {font-weight: bold;}
  a.nav:link {color: #ffffff;}
  a.nav:visited {color: #ffffff;} /* white */
  a.nav:hover  {color: #ff0000;}	/* light blue */
  a.nav:active { color: #ff0000;}	/* light blue */
  

/* Formatting for 'Booking Form' */

table.form
{
	border: none;
}
		
td.form
{
	padding-right: 50px;
	padding-top: 25px;
	border: none;
	}

td.submit
{
	text-align: center;
	padding: 10px;
	border: none;
}	

/* Formatting for Results tables */

table.results{
	text-align: left;
    border: 3px #ff0000;
    border-collapse: collapse;
}

th.results {
  
    height: 36px;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px #ff0000;
	border-right: 1px #ff0000;
    background-color: #ff0000;
	color: #ff0000;
}

tr.results {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 24px;
}

tr.results:nth-child(even) { 
    background-color: #ff0000;
}

tr.results:nth-child(odd) { 
    background-color: #ff0000;
}

td.results {
   padding: 10px;
   border-bottom: 1px #ff0000;
   border-right: 1px #ff0000;
}

